Cristian Sanchez - Guia 11/Consumo/App_WebReferences/ServiceReference1/convertidor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://foresaviles.com/sitioservicios/convertidor.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://foresaviles.com/sitioservicios/convertidor.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foresaviles.com/sitioservicios/convertidor.asmx">
      <s:element name="DollarToYenes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Yenes" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DollarToYenesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DollarToYenesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DollarToEuros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Euros" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DollarToEurosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DollarToEurosResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DollarToYenesSoapIn">
    <wsdl:part name="parameters" element="tns:DollarToYenes" />
  </wsdl:message>
  <wsdl:message name="DollarToYenesSoapOut">
    <wsdl:part name="parameters" element="tns:DollarToYenesResponse" />
  </wsdl:message>
  <wsdl:message name="DollarToEurosSoapIn">
    <wsdl:part name="parameters" element="tns:DollarToEuros" />
  </wsdl:message>
  <wsdl:message name="DollarToEurosSoapOut">
    <wsdl:part name="parameters" element="tns:DollarToEurosResponse" />
  </wsdl:message>
  <wsdl:portType name="convertidorSoap">
    <wsdl:operation name="DollarToYenes">
      <wsdl:input message="tns:DollarToYenesSoapIn" />
      <wsdl:output message="tns:DollarToYenesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DollarToEuros">
      <wsdl:input message="tns:DollarToEurosSoapIn" />
      <wsdl:output message="tns:DollarToEurosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="convertidorSoap" type="tns:convertidorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DollarToYenes">
      <soap:operation soapAction="http://foresaviles.com/sitioservicios/convertidor.asmx/DollarToYenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DollarToEuros">
      <soap:operation soapAction="http://foresaviles.com/sitioservicios/convertidor.asmx/DollarToEuros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="convertidorSoap12" type="tns:convertidorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DollarToYenes">
      <soap12:operation soapAction="http://foresaviles.com/sitioservicios/convertidor.asmx/DollarToYenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DollarToEuros">
      <soap12:operation soapAction="http://foresaviles.com/sitioservicios/convertidor.asmx/DollarToEuros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="convertidor">
    <wsdl:port name="convertidorSoap" binding="tns:convertidorSoap">
      <soap:address location="http://www.floresaviles.com/sitioservicios/convertidor.asmx" />
    </wsdl:port>
    <wsdl:port name="convertidorSoap12" binding="tns:convertidorSoap12">
      <soap12:address location="http://www.floresaviles.com/sitioservicios/convertidor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>